.transactionTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transactionTable th,
.transactionTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.transactionTable thead {
  background-color: #f2f2f2;
  font-weight: bold;
}
